extends layouts/default

block content
  .ui.fluid.column
    .ui.grid
      .row
        .column
          if (user)
            include forms/post-create

      .row
        .column
          .ui.posts
            for post in posts
              include partials/post
