extends layouts/default

block content
  .ui.fluid.column
    .ui.grid
      if (user && user.capabilities && ~user.capabilities.indexOf('write'))
        .row
          .column
            include forms/post-create

      .row
        .column
          .ui.posts
            for post in posts
              include partials/post
