extends layouts/default

block content
  
  .ui.grid
    .row
      .four.wide.column
        img.ui.image.fluid.bordered(src="#{person.avatar.url}")
  
        h2 #{person.username}
        p #{person.bio}

        .ui.statistic
          .value #{posts.length}
          .label posts
      .twelve.wide.column
        .ui.cards
          for post in posts
            include partials/post
