dom-module#melody-index
  style.
    .melody-index {
      width: 100%;
    }
  template
    .ui.icon.fluid.message
      i.icon.rocket
      .content
        .header Welcome to #{config.service.name}.
        p This is a service brought to you by <a>@someauthor</a>.  You can post content here using your existing identity, or create a new one and start fresh.

    .ui.container
      melody-writer
    .ui.container
      melody-posts(src="/posts")
  script.
    Polymer({
      is: 'melody-index'
    });
