dom-module#melody-index
  style.
    .melody-index {
      width: 100%;
    }
  template
    melody-writer
    .ui.container
      melody-posts(src="/posts")
  script.
    Polymer({
      is: 'melody-index',
      created: function() {
        console.log('[MELODY:INDEX]', 'created');
      },
      ready: function() {
        console.log('[MELODY:INDEX]', 'ready');
      },
      attached: function() {
        console.log('[MELODY:INDEX]', 'attached');
      }
    });
