dom-module#melody-people
  template
    .ui.cards
      template(is="dom-repeat", items="{{items}}")
        a.ui.card(href="/people/{{item.slug}}")
          .content
            .header {{item.username}}
            .meta joined 
              abbr.tooltipped(title="{{item.created}}") {{item.created}}
    .ui.segment
      form.ui.form(action="/people", method="post")
        .field
          label Username
          input(type="text", name="username")
        .field
          label Password
          input(type="password", name="password")
        button.ui.right.floated.primary.submit.button Register
          i.icon.right.chevron
  script.
    Polymer({
      is: 'melody-people',
      listeners: {
        'datastore:query':  '_handleQuery',
        'state:change':     '_applyState'
      },
      properties: {
        src: {
          type: String,
          observer: '_sourceChanged'
        },
        type: {
          type: Object
        },
        items: {
          type: Array,
          notify: true
        },
      },
      _handleQuery: function(e, key) {
        var self = this;
        var datastore = document.querySelectorAll('maki-datastore')[0];
        console.log('[MELODY:PEOPLE]','_handleQuery:', e, key);
        if (!datastore) return console.error('[MELODY:PEOPLE]', 'no datastore');
        datastore._retrieve(key, function(err, data) {
          console.log('[MELODY:PEOPLE]', 'retrieve result:', err, data);
          if (!data) datastore.fire('datastore:miss', hash);
          if (err) {
            console.error('_handleQuery error:', err);
            data = [];
          }
          self.fire('state:change', data);
        });
      },
      _applyState: function(e) {
        var self = this;
        var state = e.detail;
        
        if (!(state instanceof Array)) {
          state = [state];
        }

        self.items = state;
      },
      _sourceChanged: function(source) {
        var self = this;
        var melody = document.querySelectorAll('melody-application')[0];
        console.log('[MELODY:PEOPLE]', '_sourceChanged:', source);
        
        // TODO: _sourceChanged is firing before the application exists (is
        // attached?), requiring this check.  There are many flow optimizations
        // to be made here.
        if (melody && melody.resourceMap) {
          self.type = melody.resourceMap[source];
        }
        
        self._sync();
      },
      _sync: function() {
        var self = this;
        console.log('[MELODY:PEOPLE]', '_sync');
        self.fire('datastore:query', self.src);
      },
      ready: function() {
        var self = this;
        console.log('[MELODY:PEOPLE]', 'ready');
        self.src = '/people';
      },
      attached: function() {
        var self = this;
        console.log('[MELODY:PEOPLE]', 'collection is attached:', self.src);
        var channel = document.querySelectorAll('maki-channel')[0];
        channel._subscribe(self.src);
      }
    });
