dom-module#melody-post
  style.
    .melody-post {
      width: 100%;
    }

  template
    .ui.fluid.card
      template(if="{{item.image}}")
        .image
          img(src="/img/maki-logo.png")
      .content
        .meta
          a(href="/people/{{item._author.slug}}") @{{item._author.name}}
          |  &middot; &nbsp; 
          a(href="/{{type.names.query}}/{{item._id}}") {{item.created}}
        .description {{item.content}}
      //-.extra.content
        melody-post-controls(post="{{item}}")
  script.
    Polymer({
      is: 'melody-post',
      listeners: {
        'datastore:query':  '_handleQuery',
        'state:change':     '_applyState'
      },
      properties: {
        src: {
          type: String,
          observer: '_sourceChanged'
        },
        type: {
          type: Object
        },
        item: {
          type: Object,
          notify: true
        }
      },
      _handleQuery: function(e, key) {
        var self = this;
        var datastore = document.querySelector('maki-datastore[name=melody]');
        console.log('[MELODY:POST]','_handleQuery:', e, key);
        if (!datastore) return console.error('[MELODY:POST]', 'no datastore');
        datastore._retrieve(key, function(err, data) {
          console.log('[MELODY:POST]', 'retrieve result:', err, data);
          if (!data) datastore.fire('datastore:miss', hash);
          if (err) {
            console.error('_handleQuery error:', err);
            data = [];
          }
          self.fire('state:change', data);
        });
      },
      _applyState: function(e) {
        this.item = e.detail;
      },
      _sourceChanged: function(source) {
        var self = this;
        var melody = document.querySelector('melody-application');
        console.log('[MELODY:POST]', '_sourceChanged:', source);
        
        // TODO: _sourceChanged is firing before the application exists (is
        // attached?), requiring this check.  There are many flow optimizations
        // to be made here.
        if (melody && melody.resourceMap) {
          //self.type = melody.resourceMap[source];
          self.type = melody.resourceMap['/posts'];
        }
        
        self._sync();
      },
      _sync: function() {
        var self = this;
        console.log('[MELODY:POST]', '_sync');
        self.fire('datastore:query', self.src);
      },
      ready: function() {
        var self = this;
        console.log('[MELODY:POST]', 'ready');
        if (self.item) {
          self.src = '/posts/' + self.item.slug;
        }
      },
      attached: function() {
        var self = this;
        console.log('[MELODY:POST]', 'collection is attached:', self.src);
        var channel = document.querySelector('maki-channel');
        channel._subscribe(self.src);
      }
    });
